@import colors
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto')

body
  background-color: $light_gray
  font-family: 'Roboto', sans-serif

.navbar
  &.bg-dark
    background-color: $blue !important

#logo
  transition: 0.2s

#main-carousel
  .carousel-item
    img
      max-height: 500px
      overflow-y: hidden
    .carousel-caption
      background-color: rgba(0, 0, 0, 0.8)
      width: 100%
      padding: 10px
      left: 0
      bottom: 0
      a
        color: $white
        &:hover
          text-decoration: underline

.card.section
  .card-img-top
    max-height: 230px
    overflow: hidden
  .card-header
    font-weight: bold
    font-size: 1rem
    text-transform: uppercase
    font-family: 'Montserrat', sans-serif
  .card-title
    a
      color: $black
  &.sports
    border-top: 4px solid $red
    .card-header
      color: $red
  &.national
    border-top: 4px solid $green
    .card-header
      color: $green
  &.videos
    border-top: 4px solid $blue
    .card-header
      color: $blue

#videos-row
  .card
    &:hover
      cursor: pointer

.card.sidebar
  .card-header
    background-color: $blue
    color: $white
  .follow
    font-size: 1rem
    span.fa-stack
      font-size: 1.3rem
    .facebook
      color: $facebook
    .whatsapp
      color: $whatsapp
  .list-group-item
    color: $dark_gray
    text-decoration: underline
  label
    display: none
  form
    margin-top: 1rem

#category-list
  .media
    a
      color: $black

.footer
  background-color: $dark_gray
  color: $white

.card-title, .card-text
  a
    color: $black

.card-text
  a
    text-decoration: underline

@import responsive