@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto");
body {
  background-color: #ECF0F5;
  font-family: 'Roboto', sans-serif;
}

.navbar.bg-dark {
  background-color: #104780 !important;
}

#logo {
  transition: 0.2s;
}

#main-carousel .carousel-item img {
  max-height: 500px;
  overflow-y: hidden;
}

#main-carousel .carousel-item .carousel-caption {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  padding: 10px;
  left: 0;
  bottom: 0;
}

#main-carousel .carousel-item .carousel-caption a {
  color: #FFF;
}

#main-carousel .carousel-item .carousel-caption a:hover {
  text-decoration: underline;
}

.card.section .card-img-top {
  max-height: 230px;
  overflow: hidden;
}

.card.section .card-header {
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.card.section .card-title a {
  color: #000;
}

.card.section.sports {
  border-top: 4px solid #B5361F;
}

.card.section.sports .card-header {
  color: #B5361F;
}

.card.section.national {
  border-top: 4px solid #377B3D;
}

.card.section.national .card-header {
  color: #377B3D;
}

.card.section.videos {
  border-top: 4px solid #104780;
}

.card.section.videos .card-header {
  color: #104780;
}

#videos-row .card:hover {
  cursor: pointer;
}

.card.sidebar .card-header {
  background-color: #104780;
  color: #FFF;
}

.card.sidebar .follow {
  font-size: 1rem;
}

.card.sidebar .follow span.fa-stack {
  font-size: 1.3rem;
}

.card.sidebar .follow .facebook {
  color: #3b5998;
}

.card.sidebar .follow .whatsapp {
  color: #25d366;
}

.card.sidebar .list-group-item {
  color: #232323;
  text-decoration: underline;
}

.card.sidebar label {
  display: none;
}

.card.sidebar form {
  margin-top: 1rem;
}

#category-list .media a {
  color: #000;
}

.footer {
  background-color: #232323;
  color: #FFF;
}

.card-title a, .card-text a {
  color: #000;
}

.card-text a {
  text-decoration: underline;
}

@media (max-width: 576px) {
  .navbar-dark .navbar-brand {
    width: 75%;
  }
  #main-carousel .carousel-caption h5 {
    font-size: 1rem;
  }
  #main-carousel .carousel-caption p {
    font-size: .8rem;
  }
}

/*# sourceMappingURL=main.css.map */
